{{>starting}}
</head>
<body>

<div class="main-content">
    {{>header}}
    <div>
        <img class="portrait" src="./img/fuad.jpg" alt="Node.js">
    </div>
</div>

{{>footer}}
</body>
</html>

    