{{>starting}}


    <div class="main-content">
        {{>header}}
        <p>Use this site to get Weather information</p>
        <h4>Location: {{ location }}</h4>
        <h4>Forecast: {{ forecast }}</h4>
    </div>
    
{{>footer}}